html, body { height: 100%;}
body { margin: 0; padding:0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size:15pt;color:#313131; }

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100%;
    .inner {
      flex: none;
      width:100%;
      max-height:100%;
      text-align:center;
      }
}

.big-button{
    font-size:24pt;
    padding:10px;
}

