<h2>Videostream</h2>
<canvas id="videostream"></canvas>
<div>
    <mat-form-field>
        <input matInput placeholder="Width" [(ngModel)]="webcamConfig.width">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Height" [(ngModel)]="webcamConfig.height">
    </mat-form-field>
</div>

<div>
    <mat-label>Sharpness: {{webcamConfig.sharpness}}</mat-label>
    <mat-slider thumbLabel tickInterval="1" [min]="-100" [max]="100" step="1" [(ngModel)]="webcamConfig.sharpness"></mat-slider>
</div>
<div>
    <mat-label>Contrast: {{webcamConfig.contrast}}</mat-label>
    <mat-slider thumbLabel tickInterval="1" [min]="-100" [max]="100" step="1" [(ngModel)]="webcamConfig.contrast"></mat-slider>
</div>
<div>
    <mat-label>Brightness: {{webcamConfig.brightness}}</mat-label>
    <mat-slider thumbLabel tickInterval="1" [min]="0" [max]="100" step="1" [(ngModel)]="webcamConfig.brightness"></mat-slider>
</div>
<div>
    <mat-label>Saturation: {{webcamConfig.saturation}}</mat-label>
    <mat-slider thumbLabel tickInterval="1" [min]="-0" [max]="100" step="1" [(ngModel)]="webcamConfig.saturation"></mat-slider>
</div>
<div>
    <mat-label>Ev: {{webcamConfig.ev}}</mat-label>
    <mat-slider thumbLabel tickInterval="1" [min]="-10" [max]="10" step="1" [(ngModel)]="webcamConfig.ev"></mat-slider>
</div>
<div>
    <mat-slide-toggle [(ngModel)]="webcamConfig.iso">Set capture ISO</mat-slide-toggle>
</div>
<div>
    <mat-slide-toggle [(ngModel)]="webcamConfig.vstab">Turn on video stabilisation</mat-slide-toggle>
</div>

<div>
    <mat-form-field>
        <mat-select placeholder="Exposure" [(ngModel)]="webcamConfig.exposure">
            <mat-option *ngFor="let exposure of exposureSelect" [value]="exposure.value">
                {{exposure.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Awb" [(ngModel)]="webcamConfig.awb">
            <mat-option *ngFor="let awb of awbSelect" [value]="awb.value">
                {{awb.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-select placeholder="Imxfx" [(ngModel)]="webcamConfig.imxfx">
            <mat-option *ngFor="let imxfx of imxfxSelect" [value]="imxfx.value">
                {{imxfx.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Metering" [(ngModel)]="webcamConfig.metering">
            <mat-option *ngFor="let metering of meteringSelect" [value]="metering.value">
                {{metering.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<button mat-stroked-button color="primary" (click)="send()">Kamera starten</button>