<div class="content">
    <div class="inner" style="max-width:50%;">
        <div *ngIf="serverMessages" class="server-messages">
            <p *ngFor="let serverMessage of serverMessages">{{serverMessage}}</p>
          </div>
      <button *ngIf="!connected; else buttons" mat-stroked-button color="primary" class="big-button" (click)="connect()">Verbinden</button>   
      <ng-template #buttons>
        <button *ngIf="connected" mat-stroked-button color="primary" (click)="close()">Schließen</button>   
        <button mat-stroked-button color="primary" (click)="sayHello()">say Hello</button>
        <button mat-stroked-button (click)="reset()">Reset</button>
      </ng-template>
     
    </div>
  </div>