.server-messages{
    height:250px;
    width:100%;
    overflow:auto;
    border:1px solid #808080;
    padding:5px;
    margin-bottom:20px;
}

p{
    text-align:left;
    margin:0px;
    padding:0px;
    color:#808080;
    font-size:11pt;
}

button{
    margin-right:20px;
}

button:last-child { 
    margin-right:0px; 
}