<div class="content center">
    <div class="inner" style="max-width:50%;">
        <h2>Aktuelle Position: {{pwm.valueIn}} / {{pwm.valueOut}}</h2>
        <mat-slider (input)="change($event)" thumbLabel tickInterval="1" [min]="pwm.minIn" [max]="pwm.maxIn" [step]="step" value="{{pwm.valueIn}}" style="min-width:400px;"></mat-slider>

        <mat-form-field>
            <input matInput type="number" placeholder="Min" [(ngModel)]="pwm.minIn">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Max" [(ngModel)]="pwm.maxIn">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="MinOut" [(ngModel)]="pwm.minOut">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="MaxOut" [(ngModel)]="pwm.maxOut">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Steps" [(ngModel)]="step">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Value" [(ngModel)]="pwm.valueIn">
        </mat-form-field>
    </div>
</div>