.panel{
    height: calc(100% - 70px);
}

mat-sidenav-container{
    height:100%;
}

mat-sidenav{
    padding: 20px;
    min-width:150px;
}

mat-sidenav-content{
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
}
