<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 routerLink="/welcome">{{config.title}}</h1>
</mat-toolbar>
<div class="panel">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <mat-nav-list>
        <a (click)="sidenav.close()" *ngFor="let navItem of config.navigation" mat-list-item [routerLink]="navItem.url">{{navItem.title}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>