<h2>Ps4-Controller calibration</h2>
<ng-container *ngIf="gamepad">
  <h4>Buttons</h4>
  <span *ngFor="let key of Object.keys(gamepad.button)">
    {{key}}:{{gamepad.button[key]}}
  </span>
  <h4>Stick</h4>
  <span *ngFor="let key of Object.keys(gamepad.stick)">{{key}}:{{gamepad.stick[key]}}</span>
  <h4>Trigger</h4>
  <span *ngFor="let key of Object.keys(gamepad.trigger)">{{key}}:{{gamepad.trigger[key]}}</span>

  <h4>Axe</h4>
  <ng-container *ngFor="let key of Object.keys(gamepad.axe)">
    <span>{{key}} x: {{gamepad.axe[key].x}}</span><span>y: {{gamepad.axe[key].y}}</span>
  </ng-container>
</ng-container>