<div>
      <h2>TankDto</h2>
      <pre>
        {{tankControl | json}}
      </pre>
      <pre>
        hit:{{hit}}
      </pre>
     <!--
      <mat-slider thumbLabel tickInterval="1" [min]="-1" [max]="1" step="0.01" [value]="gamepad.axe.left.x" style="min-width:400px;"></mat-slider>
     -->
</div>